.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: 3px solid black;
}

.row-div {
    display: flex;
}

.grid-square:hover {
    background-color: black;
}