@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
    background-color: rgb(168, 168, 168);
}

h1 {
    font-family: 'Parisienne', cursive;
    font-size: 64px;
    text-align: center;
    color: red;
}

.options-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px;
}

.grid-size-display {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

#grid-size-value {
    width: 25px;
}

#grid-size {
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    cursor: pointer;
    background: #3071a9;
    box-shadow: 1px 1px 1px #000000;
    border-radius: 3px;
}

#grid-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 24px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 3px solid black;
    background-color: white;
    box-shadow: 10px 10px;
}

.row-div {
    display: flex;
}

button {
    background-color: #3071a9;
    color: white;
    border-radius: 5px;
    width: auto;
    height: 40px;
    margin: 20px 0px;
    padding: 10px;
}

button:hover {
    background-color: yellow;
    color: black;
}

#color-picker {
    width: 100px;
    height: 40px;
    margin-top: 5px;
}

.grid-square {
    box-sizing: border-box;
}